.wrpper {
  padding-top: 110px;
  min-height: 500px;
}
.wrpper .hoppick-wrpper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.wrpper .hoppick-wrpper .hoppick-content {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.wrpper .hoppick-wrpper .hoppick-content .top-banner-wrap {
  display: block;
  margin-bottom: 30px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn {
  display: block;
  margin-bottom: 30px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn ul {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn ul li {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d8d8d8;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn ul li + li {
  border-left: 0;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn ul li.active {
  position: relative;
  background-color: #5ddfde;
  border: 1px solid #5ddfde;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn ul li a {
  display: block;
  width: 100%;
  color: #000;
  text-align: center;
  padding: 15.5px 0;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-Tab-Btn ul li span {
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 500;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item {
  position: relative;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .imgWhopper {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .imgWhopper img {
  display: block;
  width: 100%;
  max-width: 540px;
  background-size: contain;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .h5-hotpuick-Preview {
  max-width: 117px;
  width: 100px;
  height: 34px;
  position: absolute;
  top: 9px;
  left: 10px;
  cursor: pointer;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .h5-hotpuick-Preview a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .h5-hotpuick-Preview a span {
  display: block;
  width: 100%;
  height: 100%;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .g5-hotpick-model {
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 16px;
  background: rgba(0, 0, 0, 0.6);
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .item .g5-hotpick-model a {
  display: block;
  width: 117px;
  height: 31px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont {
  margin-left: 40px;
  flex: 1;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner h3 {
  display: block;
  margin-bottom: 95px;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: -2.08px;
  font-weight: bold;
  color: #222;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times > div {
  margin-bottom: 10px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times .times-item {
  display: flex;
  align-items: center;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times .times-item p {
  display: flex;
  align-items: center;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times .times-item p strong {
  font-size: 15px;
  letter-spacing: -0.5px;
  color: #000;
  margin-right: 11px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times .times-item p .hotdeal-desc-time-sec {
  position: relative;
  margin: 0 11px 0 41px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times .times-item p .hotdeal-desc-time-sec::before {
  position: absolute;
  content: "";
  clear: both;
  left: -14px;
  top: 0;
  width: 1px;
  background-color: #000;
  height: 14px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .hotpick-times .times-item p span {
  color: #222;
  font-size: 15px;
  letter-spacing: -0.9px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price {
  padding-top: 17px;
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 34px;
  text-align: left;
  font-weight: bolder;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price > div {
  display: flex;
  align-items: center;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .red {
  font-size: 34px;
  color: #f44b57;
  font-family: "Roboto";
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .event-price {
  display: flex;
  align-items: baseline;
  color: #000000;
  margin-left: 10px;
  font-family: "Roboto";
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .event-price em {
  color: #000;
  font-size: 24px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .event-price span {
  color: #222;
  letter-spacing: -2px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .event-price p {
  font-size: 24px;
  color: #000000;
  font-weight: normal;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .event-price strong {
  color: #000;
  font-size: 34px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Roboto";
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .price {
  display: inline-block;
  font-size: 32px;
  line-height: 1;
  vertical-align: top;
  font-family: "Roboto";
  color: #00859c;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price .hotpick-price {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
  font-size: 32px;
  line-height: 1;
  vertical-align: top;
  font-weight: 500;
  font-family: "Roboto";
  color: #008 em;
  color-color: #00859c;
  color-font-size: 24px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-hotpick-price::before {
  content: "";
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d2d2d2;
  margin-top: 0;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-event-btn {
  margin-top: 21px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-hotpick-img .hotpick-cont .hotpick-cont-inner .g5-event-btn a {
  display: block;
  width: 100%;
  min-width: 190px;
  height: 64px;
  background-color: #909090;
  padding: 0;
  line-height: 64px;
  font-weight: bold;
  border-radius: 7px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  letter-spacing: -1.2px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner {
  position: relative;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner .event-banner-figure {
  position: relative;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner a.h-special {
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: 49px;
  width: 190px;
  height: 263px;
  color: transparent;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner a.h-special.h-special_link-1 {
  left: 31px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner a.h-special.h-special_link-2 {
  left: 238px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner a.h-special.h-special_link-3 {
  left: 446px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner a.h-special.h-special_link-4 {
  left: 653px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner a.h-special.h-special_link-5 {
  left: 860px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner .g5_add_btn {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 46px;
  width: 67px;
  height: 20px;
  color: transparent;
  right: 31px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5_event-banner .g5_add_btn a {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.wrpper .hoppick-wrpper .hoppick-content .instagram-area {
  margin: 20px 0;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-h-banner {
  position: relative;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-h-banner .h-video {
  position: absolute;
  top: 429px;
  left: 50%;
  width: 100%;
  margin-top: 21px;
  padding: 60px 164px 25px;
  border-radius: 10px;
  box-sizing: border-box;
  transform: translateX(-50%);
}
.wrpper .hoppick-wrpper .hoppick-content .g5-h-banner .h-video .h-video_box {
  height: 425px;
}
.wrpper .hoppick-wrpper .hoppick-content .g5-h-banner .h-video .h-video_box iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */